# {{ ansible_managed }}
minlen = {{ pwquality_minlen }}
dcredit = {{ pwquality_dcredit }}
ucredit = {{ pwquality_ucredit }}
lcredit = {{ pwquality_lcredit }}
ocredit = {{ pwquality_ocredit }}
maxrepeat = {{ pwquality_maxrepeat }}
